.alert-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.card-custom {
  width: 20rem;
  height: auto;
}

.modal-body-custom {
  flex: 0 1 auto !important;
}
